movable-square {
  width: 50px;
  height: 50px;
  background-color: blue;
  position: absolute;
  cursor: grab;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.board {
  display: grid;
  grid-template-columns: repeat(15, 40px);
  gap: 2px;
}

.cell {
  width: 40px;
  height: 40px;
  border: 1px solid #000;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Add styles for special tiles */
.cell[data-special="starting-square"] {
  background-color: gray;
}

.cell[data-special="double-word"] {
  background-color: #ffcc00;
}
.cell[data-special="double-letter"] {
  background-color: green;
}

.cell[data-special="triple-letter"] {
  background-color: blue;
}

.cell[data-special="triple-word"] {
  background-color: red;
}

.tiles-containerleft {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 10px;
  display: block;
}
.tiles-containerright {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 10px;
  display: none;
}

.tile {
  width: 30px;
  height: 30px;
  background-color: skyblue;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2px;
  user-select: none; /* Prevents the text selection cursor */
}


.container {
  height: 50px;
  width: 400px;
  position: absolute;
  bottom: 15%;
  border: 3px solid green;
  display: flex;
  justify-content: center;
  align-items: center; /* Center vertically */
}

.horizontal-center {
  margin: 0;
}

.button-container {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  margin-top: 20px;
}

.button {
  padding: 10px 20px;
  background-color: blue;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 0 5px;
}

.player-info {
  position: absolute;
  top: 0;
  left: 0;
  margin: 10px;
  text-align: center;
}

#player2Info {
  right: 10px;
  left: auto;
}

.player-name {
  font-size: 20px;
  font-weight: bold;
  color: #333;
}

.player-score {
  font-size: 16px;
  color: #666;
}
