/*[draggable="false"] {
  user-select: none;
}*/
#centerBoard {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

movable-square {
  width: 50px;
  height: 50px;
  background-color: blue;
  position: absolute;
  cursor: grab;
}

.board {
  display: grid;
  grid-template-columns: repeat(15, 40px);
  gap: 2px;
  position: absolute;
}

.cell {
  width: 40px;
  height: 40px;
  border: 1px solid #000;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Add styles for special tiles */
.cell[data-special="starting-square"] {
  background-color: gray;
  background-position: center;
  background-image: url("lib/Sgray.png");
  background-size: cover;
}

.cell[data-special="double-word"] {
  background-color: #ffcc00;
  background-position: center;
  background-image: url("lib/DWyellow.png");
  background-size: cover;
}
.cell[data-special="double-letter"] {
  background-color: green;
  background-position: center;
  background-image: url("lib/DLgreen.png");
  background-size: cover;
}

.cell[data-special="triple-letter"] {
  background-color: blue;
  background-position: center;
  background-image: url("lib/TLblue.png");
  background-size: cover;
}

.cell[data-special="triple-word"] {
  background-color: red;
  background-position: center;
  background-image: url("lib/TWred.png");
  background-size: cover;
}

.tiles-containerleft {
  position: relative;
  left: -120px;
  display: block;
}

.tiles-containerright {
  position: relative;
  right: -550px;
  display: none;
}

.notMovableEnyMore {
  width: 30px;
  height: 30px;
  background-color: rgb(89, 179, 214);
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2px;
  user-select: none; /* Prevents the text selection cursor */
}

.tile {
  width: 30px;
  height: 30px;
  background-color: rgb(135, 206, 235);
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2px;
  user-select: none; /* Prevents the text selection cursor */
}

.container {
  height: 50px;
  width: 430px;
  bottom: 5%;
  align-items: center; /* Center vertically */
  justify-content: center; /* Center horizontally */
  display: flex;
  position: relative;
  top: 350px;
}

.horizontal-center {
  margin: 0;
}

.button-container {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  margin-top: 20px;
}

.button {
  padding: 10px 20px;
  background-color: blue;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 0 5px;
}

.player-info {
  position: absolute;
  top: 0;
  left: 0;
  margin: 10px;
  text-align: center;
}

#player2Info {
  right: 10px;
  left: auto;
}

.player-name {
  font-size: 20px;
  font-weight: bold;
  color: #333;
}

.player-score {
  font-size: 16px;
  color: #666;
}
